/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: RevisionHistory;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #a6a6a6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #a6a6a6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	max-id: 3;
	cell-padding-left: 0.19cm;
	cell-padding-right: 0.19cm;
	cell-padding-top: 0.1cm;
	cell-padding-bottom: 0.1cm;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a6a6a6;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a6a6a6;
	name: Header1;
	id: 2;
	font-size: 9pt;
	cell-content-style-tag: p;
	cell-content-style-class: TableHeading;
	background-color: #d9d9d9;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a6a6a6;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: Body;
	font-size: 9pt;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a6a6a6;
	name: Footer1;
	id: 3;
	font-size: 9pt;
}


/* Cell Styles: */
 
.TableStyle-RevisionHistory
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a6a6a6;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #a6a6a6;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #a6a6a6;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a6a6a6;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-RevisionHistory-Column-Column1
{
	
}

.TableStyle-RevisionHistory-Head-Header1
{
	
}

.TableStyle-RevisionHistory-HeadI-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	background-color: #d9d9d9;
}

.TableStyle-RevisionHistory-HeadI-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadE-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
	font-size: 9pt;
	background-color: #d9d9d9;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	border-bottom-style: solid;
}

.TableStyle-RevisionHistory-HeadE-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadF-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	background-color: #d9d9d9;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	border-bottom-style: solid;
}

.TableStyle-RevisionHistory-HeadF-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadH-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
	font-size: 9pt;
	background-color: #d9d9d9;
}

.TableStyle-RevisionHistory-HeadH-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadD-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	background-color: #d9d9d9;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	border-bottom-style: solid;
}

.TableStyle-RevisionHistory-HeadD-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadC-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	background-color: #d9d9d9;
}

.TableStyle-RevisionHistory-HeadC-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadB-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
	font-size: 9pt;
	background-color: #d9d9d9;
}

.TableStyle-RevisionHistory-HeadB-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadA-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	background-color: #d9d9d9;
}

.TableStyle-RevisionHistory-HeadA-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-HeadG-Column1-Header1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	background-color: #d9d9d9;
}

.TableStyle-RevisionHistory-HeadG-Column1-Header1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-Foot-Footer1
{
	
}

.TableStyle-RevisionHistory-FootI-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootI-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootE-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
	font-size: 9pt;
	border-top-width: 1px;
	border-top-color: #a6a6a6;
	border-top-style: solid;
}

.TableStyle-RevisionHistory-FootE-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootF-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	border-top-width: 1px;
	border-top-color: #a6a6a6;
	border-top-style: solid;
}

.TableStyle-RevisionHistory-FootF-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootH-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootH-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootD-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	border-top-width: 1px;
	border-top-color: #a6a6a6;
	border-top-style: solid;
}

.TableStyle-RevisionHistory-FootD-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootC-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootC-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootB-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootB-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootA-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootA-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootG-Column1-Footer1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
}

.TableStyle-RevisionHistory-FootG-Column1-Footer1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-Body-Body1
{
	
}

.TableStyle-RevisionHistory-BodyI-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-RevisionHistory-BodyI-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyE-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
}

.TableStyle-RevisionHistory-BodyE-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyF-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	border-bottom-style: solid;
}

.TableStyle-RevisionHistory-BodyF-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyH-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
}

.TableStyle-RevisionHistory-BodyH-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyD-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #a6a6a6;
	border-bottom-style: solid;
}

.TableStyle-RevisionHistory-BodyD-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyC-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-RevisionHistory-BodyC-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyB-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #a6a6a6;
	border-right-style: solid;
}

.TableStyle-RevisionHistory-BodyB-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyA-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-RevisionHistory-BodyA-Column1-Body1 p
{
	font-size: 9pt;
}

.TableStyle-RevisionHistory-BodyG-Column1-Body1
{
	padding-left: 0.19cm;
	padding-right: 0.19cm;
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
	font-size: 9pt;
	vertical-align: top;
}

.TableStyle-RevisionHistory-BodyG-Column1-Body1 p
{
	font-size: 9pt;
}


